// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body.body{
    background-color: rgb(255,230,230);
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    
}

.content{
    padding: 10px 20px;
    z-index: 2;
}

#flying-back .sex{
    z-index: 1;
    position: fixed;
    left: 10px;
    font-size: 50px;
    font-weight: normal;
    color: red;
}


@media(max-width: 600px){

}
